@media (max-width: 767px) {

    .hero {
        min-height: 700px;
        padding: 147px 16px 0;
        background-image: url("./img/Fon.mob.png");
        background-size: cover;
        background-position: center;

        &__title {
            width: 100%;
            height: auto;
            font-size: 40px;
            line-height: 49px;
            text-align: center;
            justify-content: center;
        }

        &__text {
            width: 100%;
            height: auto;
            font-size: 16px;
            line-height: 26px;
            text-align: center;
            justify-content: center;


        }

        &__text--desktop {
            display: none;
        }

        &__text--mobile {
            display: block;
        }

        &__button {
            width: 100%;
            height: 64px;
            font-size: 16px;
            margin-top: 36px;

            &:hover {
                background: #202027;
                color: #FFFFFF;
                border-color: #202027;
            }
        }
    }

    .container {
        width: calc(100% - 36px);
        min-height: 371px;

        margin: 0 auto;
        gap: 36px;

        align-items: center;
        justify-content: center;
    }

    .running-line {
        height: 52px;
        padding: 16px 24px;

        &__content {
            gap: 24px;

            span {
                font-size: 16px;
                line-height: 110%;
            }
        }
    }

    .about-games {
        display: none;
    }

}